body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: azure;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 20px;
    
}
.links_navegacion{
    display: flex;
    gap: 25px;

}

.links_navegacion li{
    list-style-type: none;
}

.links_navegacion li a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
.links_navegacion li a:hover {
    color: red;
    font-weight: 900;
    background-color: white;
}

.titular{
    font-family: sans-serif;
}

#pie_de_pagina{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
  
}

#pie_de_pagina ul li{
    list-style-type: none;
}
.boton_arriba{
    height: 35px;

}

.foot{
    display: flex;

}

.foot ul{
    display: flex;
    gap: 25px
}
.perrito img{
    transition: 0.3s ease;


}
.perrito img:hover {
    transform: scale(1.1);
}