.navbar{
    background-color: azure;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 20px;
    
}
.links_navegacion{
    display: flex;
    gap: 25px;

}

.links_navegacion li{
    list-style-type: none;
}

.links_navegacion li a{
    text-decoration: none;
}
.titular{
    font-family: sans-serif;
}

#pie_de_pagina{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
  
}

#pie_de_pagina li{
    list-style-type: none;
}
.boton_arriba{
    height: 35px;

}

.foot{
    display: flex;

}

.foot ul{
    display: flex;
}